.git
.gitignore
README.md
.env
.env.local
.env.production
__pycache__
*.pyc
*.pyo
*.pyd
.Python
.pytest_cache
.coverage
htmlcov/
.tox/
.nox/
*.log
logs/
models/
debug_frames/
rostos/
test/
tests/
temp/
tmp/
.DS_Store
.vscode
.idea
*.iml
*.weights
*.pt
*.db
*.sqlite3
cloudbuild.yaml
.github
.dockerignore
Dockerfile
docker-compose.yml'